################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mydotnetcoreapp/.vs/mydotnetcoreapp/v16
/mydotnetcoreapp/mydotnetcoreapp/obj
